.title {
    padding: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-primary);
    background-color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.list-product {
    width: 100%;
    margin: 0 0 30px 0;
}

.list-product .product {
    padding: 20px 15px;
    border: 1px solid transparent;
    border-radius: 0.375rem;
}

.list-product .product a {
    display: block;
    color: var(--color-primary);
}

.list-product .product-discound {
    height: 20px;
}

.list-product .product-discound span {
    line-height: 20px;
    font-size: 0.95rem;
}

.list-product .product-img {
    display: flex;
    justify-content: center;
    height: 240px;
    overflow: hidden;
}

.list-product .product img {
    text-align: center;
    height: 200px;
    margin: 20px 0;
    border-radius: 0.375rem;
    transition: 0.5s all ease;
}

.list-product .product:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
}

.list-product .product:hover .product-img img {
    margin: 0;
    transition: 0.5s all ease;
}

.list-product .product-name {
    color: var(--main-color);
    font-size: 1.2rem;
    margin: 30px 0 0 0;
}

.list-product .product:hover .product-name p {
    color: var(--color-primary-2);
}

.list-product .sale-price {
    font-size: 1.3rem;
    margin-top: 5px;
    color: red;
}

.list-product .original-price {
    text-decoration: line-through;
}